DB_HOST=localhost
DB_NAME=lpaecommerce
DB_USER=root
DB_PASS=secret

MAIL_HOST=smtp.example.com
MAIL_PORT=2525
MAIL_USERNAME=your_mail_username
MAIL_PASSWORD=your_mail_password
MAIL_FROM_NAME="LPA Ecommerce"
MAIL_FROM_EMAIL="no-reply@lpaecomms.test"

MAIL_TO_CONTACT="support@example.com"

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
CATALOG_CACHE_TTL=300
