<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Your Verification Code</title>
</head>
<body style="font-family: Arial, sans-serif; background: linear-gradient(180deg, rgba(78, 181, 144, 0.7), rgba(53, 153, 143, 0.7) 50%, rgba(53, 124, 130, 0.7)); color: white; text-align: center; padding: 2rem;">
<img src="https://lpaecomms.test/assets/images/logo.svg" alt="LPA Ecommerce" width="120" style="margin-bottom: 20px;">
<h2>Hello {{firstname}},</h2>
<br>
<p>Thank you for registering. We have created automatically a username <b>{{username}}</b> for you.</p>
<p>Please, to finish verifying your register. Copy the code below:</p>
<p style="margin-top: 30px;">
    <span
       style="padding: 12px 24px; background: white; color: #013a63; text-decoration: none; font-weight: bold; border-radius: 5px;">{{verification_code}}</span >
</p>
<p style="margin-top: 30px; font-size: 12px;">If you didn't sign up, please ignore this message.</p>
</body>
</html>
