/**FOOTER**/

.site-footer {
    width: 100%;
    position: relative;
    background-color: #c1dcdc;
    height: 400px;
    overflow: hidden;
    text-align: left;
    font-size: 18px;
    color: rgba(30, 30, 30, 0.5);
    font-family: Poppins, Verdana, serif;
    display: flex;
    justify-content: space-around;
}

.footer-branding {
    position: relative;
    top: 48px;
    /*left: 96px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/
    gap: 24px;
    color: #000;
    font-family: Poppins, Verdana, serif;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.footer-title {
    position: relative;
}

.footer-description {
    width: 189px;
    position: relative;
    font-weight: 500;
    font-family: Poppins, serif;
    color: rgba(30, 30, 30, 0.5);
    display: inline-block;
}

.footer-description-line {
    margin: 0;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.social-icon {
    width: 48px;
    position: relative;
    height: 48px;
}

.footer-links {
    position: relative;
    top: 48px;
    /*left: 1013px;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /*justify-content: flex-start;*/
    gap: 48px;
}

.footer-heading {
    position: relative;
    color: #1e1e1e;
}

.footer-link {
    position: relative;
}

.footer-credits {
    position: absolute;
    top: 325px;
    /*left: 97px;*/
    font-weight: 500;
}