/** @header **/
header {
    padding: 1.75rem 8.125rem;
    color: white;
    font-size: 1rem;
    position: relative;
    font-family: Verdana, serif;
    box-sizing: border-box;
    height: 10rem;
}

.logo-nav {
    align-items: center;
    gap: 2.5rem;
}

.logo {
    width: 3.125rem;
}

.navigation {
    gap: 1.875rem;
}

.navigation a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
    font-family: Verdana, serif;
}

.navigation a:hover {
    color: var(--color-primary-hover);
}

.actions {
    align-items: center;
    gap: 1.25rem;
}

.search-box {
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 0.9375rem;
    border-radius: 1.25rem;
}

.search-box input {
    border: none;
    outline: none;
    font-size: 0.875rem;
}

.search-box img {
    width: 1rem;
    margin-right: 0.625rem;
}

.create-account {
    background-color: var(--color-secondary);
    color: #fff;
    padding: 0.625rem 1.25rem;
    border-radius: 1.25rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-account:hover {
    background-color: var(--color-secondary-hover);
}

.account-active {
    background: var(--color-secondary);
    box-shadow: 0 0.125rem 0.375rem rgba(53, 153, 143, 0.25);
    border: 0.0625rem dashed whitesmoke;
    transition: background 0.3s ease-in;
}

.account-active:hover {
    background: linear-gradient(135deg, var(--gradient-start), var(--gradient-mid), var(--gradient-end));
    transition: background 0.3s ease-out;
}

.dropdown .dropdown-menu {
    margin-top: 0.5rem;
    border-radius: 0.625rem;
    min-width: 11.25rem;
    font-size: 0.95rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.dropdown .dropdown-item {
    padding: 0.625rem 0.9375rem;
    transition: background-color 0.2s;
}

.dropdown .dropdown-item:hover {
    background-color: #f1f1f1;
}


.login-link {
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid white;
    color: white;
    transition: background-color 0.3s ease;
}

.login-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.currency {
    align-items: center;
    gap: 0.3125rem;
    cursor: pointer;
    font-size: 0.875rem;
}

.currency img {
    width: 1.25rem;
}

.samsung {
    height: 96.88%;
    font-weight: 800;
    display: inline-block;
    margin: 0 3.75rem;
}
.lenovo {
    height: 96.88%;
    font-weight: 800;
    display: inline-block;
    margin: 0 3.75rem;
}
.acer {
    height: 96.88%;
    font-weight: 600;
    display: inline-block;
    margin: 0 3.75rem;
}
.asus {
    height: 96.88%;
    font-weight: 600;
    display: inline-block;
    margin: 0 3.75rem;
}
.dell {
    height: 87.5%;
    font-weight: 600;
    display: inline-block;
    margin: 0 3.75rem;
}

.brands {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-family: Inter, Verdana, serif;
}

.brands > div {
    cursor: pointer;
}

.brands > div:hover {
    color: var(--color-primary-hover);
    transition: color 0.1ms;
}